$slate: #394157;
$mint: #74b0ad;
$pale: #f5f2cc;
$peach: #f2cb9c;
$red: #f54140;
$valid: green;
$invalid: $red;
$blue: #40becd;

$input-focus-fade: 12;

html,
body,
#root {
  color: $slate;
  font-family: 'Roboto', 'Open-Sans', 'Ubuntu', sans-serif;
  font-size: 1.5rem;
  background-color: $pale;
  height: 100%;
  overflow: hidden;
}

input[type='text'],
input[type='password'] {
  outline: none;
  border: none;
  border-bottom: lighten($slate, $input-focus-fade) solid 2px;
  margin: 1rem 0.5rem;
  padding: 0.25rem 0.5rem;
  background: transparent;
  transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out;
}

input::placeholder {
  color: lighten($slate, $input-focus-fade);
}

input:focus {
  border-color: $slate;
}

input:focus::placeholder {
  color: $slate;
}

button,
a {
  display: inline-block;
  background: $red;
  color: white;
  border-radius: none;
  border: none;
  padding: 0.25rem 0;
  text-align: center;
  height: 2rem;
  outline: none;
  font-size: 0.8rem;
  font-weight: bold;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  text-decoration: none;
}

button[type='submit'] {
  background-color: transparent;
  border: $red 2px solid;
  color: $red;
}

button:hover:not(:disabled),
button:focus:not(:disabled),
a:hover,
a:focus {
  outline: none;
  background-color: darken($red, 5);
}

button[type='submit']:hover:not(:disabled),
button[type='submit']:focus:not(:disabled) {
  background-color: transparent;
  border: darken($red, 8) 2px solid;
  color: darken($red, 8);
}

button:disabled {
  background-color: transparent;
  border: lighten($red, 5) 2px solid;
  color: lighten($red, 5);
}

.error {
  color: $red;
  font-size: 0.6rem;
  text-align: center;
  margin: 0.1rem;
}

.help-block {
  width: calc(100% - 1rem);
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;

  .help {
    display: block;
    width: 100%;
    font-size: 0.5rem;
    margin: 0.1rem;
    text-align: left;
  }

  .help.valid {
    color: $valid;
  }

  .help.invalid {
    color: $invalid;
  }
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .login-form,
  .signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;

    input {
      display: block;
      width: calc(100% - 2rem);
    }

    button,
    a {
      width: calc(100% - 1rem);
    }

    a {
      margin-top: 0.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
    }

    h4 {
      margin: 0.25rem 0;
    }
  }
}

.app-container {
  height: 100%;
  width: 100%;

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    background-color: $peach;

    .logo-link {
      background: transparent;
      margin-left: 1rem;

      .logo {
        height: 100%;
      }
    }

    .account {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      border-left: transparentize($slate, 0.8) 1px solid;
      padding-right: 1rem;
      padding-left: 0.5rem;
      cursor: pointer;
      box-sizing: border-box;
      position: relative;

      .username {
        font-size: 0.8rem;
        margin-right: 0.5rem;
        margin-left: 0.25rem;
        margin-bottom: 0;
      }

      .name {
        font-size: 0.4rem;
        margin-right: 0.5rem;
        margin-top: 0.1rem;
        text-align: right;
        color: lighten($slate, 10);
      }

      .picture {
        height: 50%;
        background-color: $red;
        border-radius: 50%;
      }

      .dropdown-toggle {
        height: 15%;
        transition: transform 0.35s ease-in-out;
        fill: $slate;
      }

      .dropdown-toggle.collapsed {
        transform: rotate(-90deg);
      }

      .dropdown-toggle.open {
        transform: rotate(0deg);
      }

      .dropdown {
        background-color: $peach;
        position: absolute;
        top: 3rem;
        right: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow: hidden;
        transition: max-height 0.35s ease-in-out;

        .dropdown-item,
        .dropdown-item a {
          width: 100%;
          height: 1rem;
          // border-left: transparentize($slate, 0.8) 1px solid;
          font-size: 0.8rem;
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: none;
          background-color: transparent;
          color: $slate;
          font-weight: normal;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .dropdown-item {
          padding: 1rem 0.5rem;
          border-top: transparentize($slate, 0.8) 1px solid;
          box-sizing: border-box;
        }
      }

      .dropdown.open {
        max-height: 6rem;
      }

      .dropdown.collapsed {
        max-height: 0;
      }
    }
  }

  .main {
    height: calc(100% - 3rem);
    display: flex;
    align-items: center;
    justify-content: center;

    .hotel-container {
      width: 30%;
      height: 100%;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      // .hotel-image-container {
      //   height: 50%;
      //   width: 100%;
      //   overflow: hidden;
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      .hotel-image-container {
        position: relative;
        width: 100%;
        height: calc(80vh - 0.5rem);
        margin-top: 0.5rem;
        background-color: $peach;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .hotel-image {
          width: 100%;
          height: calc(80vh - 0.5rem);
          object-fit: cover;
          object-position: center center;
          border-radius: 0.5rem;
        }
      }

      .hotel-image-container.nope {
        animation: nope 0.3s linear 0s 1;
      }

      .hotel-image-container.yep {
        animation: yep 0.3s linear 0s 1;
      }

      @keyframes nope {
        100% {
          opacity: 0;
          width: 0%;
        }
      }

      @keyframes yep {
        100% {
          opacity: 0;
          height: 0%;
        }
      }

      .hotel-controls {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .hotel-yes,
        .hotel-no {
          width: 45%;
          height: calc(20vh - 4rem);
          margin: 0.5rem 0;
          border-radius: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .hotel-yes {
          background-color: $mint;
        }

        .hotel-yes:hover:not(:disabled),
        .hotel-yes:focus:not(:disabled) {
          outline: none;
          background-color: darken($mint, 5);
        }

        .hotel-yes:disabled {
          background-color: transparent;
          border: lighten($mint, 5) 2px solid;
          color: lighten($mint, 5);
        }
      }
    }

    .hotel-name {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
      font-size: 1.5rem;
      position: absolute;
      left: 0.25rem;
      bottom: 1rem;
      color: white;
    }

    .hotel-location {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
      font-size: 0.5rem;
      position: absolute;
      left: 0.35rem;
      bottom: 0.25rem;
      color: lightgray;
    }

    .hotel-image-overlay::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 0.5rem;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,ff0000+100 */
      background: rgba(0, 0, 0, 0.8); /* Old browsers */
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 50%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 50%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0) 50%
      ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ff0000',GradientType=0 ); /* IE6-9 */
    }

    .hotel-list {
      width: 50%;
      height: 100%;
      padding: 0 1rem;
      overflow-x: hidden;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      .hotel-list-item {
        position: relative;
        width: 100%;
        height: calc(20vh - 0.5rem);
        margin-top: 0.5rem;
        background-color: $peach;
        border-radius: 0.5rem;
        // transition: rotate 0.5s ease-in opacity 0.5s ease-in;
        transform-origin: 100% 100%;
        // transform: rotate(0deg);
        // opacity: 1;

        .hotel-image {
          width: 100%;
          height: calc(20vh - 0.5rem);
          object-fit: cover;
          object-position: center center;
          border-radius: 0.5rem;
        }

        button,
        a {
          height: 50%;
          position: absolute;
          cursor: pointer;
          width: 0;
          opacity: 0;
          transition: all 0.25s ease-in-out;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .hotel-no {
          right: 0;
          top: 0;
          border-radius: 0 0.5rem 0 0;
        }

        .hotel-info {
          right: 0;
          bottom: 0;
          border-radius: 0 0 0.5rem 0;
          background-color: $blue;
        }

        .hotel-info:hover:not(:disabled),
        .hotel-info:focus:not(:disabled) {
          background-color: darken($blue, 4);
        }
      }

      .hotel-list-item:hover {
        button,
        a {
          width: 2rem;
          opacity: 100;
        }
      }

      .hotel-list-item.removing {
        animation: remove 0.5s linear 0s 1;
      }

      @keyframes remove {
        100% {
          opacity: 0;
          width: 0;
        }
      }
    }
  }
}
